/* --- ROOT VARIABLES & INITIAL CONFIGS --- */

:root{
  --color-blue: #1b8d99;
  --color-dark-blue: #1c8e99;
  --color-dark-red: #660000;
  --color-gray: #44444444;
  --color-light-blue: #92c9ce;
  --color-medium-blue: #1b8e99;
  --color-white: #ffffff;
  --font-family-primary: "Arial";
  --font-family-primary: "Tahoma";
  --font-size-l: 17px;
  --font-size-m: 13px;
  --font-size-sm: 12px;
  --font-size-xl: 18px;
  --font-size-xm: 14px;
  --font-size-xxxl: 30px;
  --global-width: 980px;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* --- GLOBAL SELECTORS --- */

body{
  background-color: var(--color-white);
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-x: hidden;
  width: 100vw;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

footer{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: var(--global-width);
}

hr{
  height: 1px;
  width: 100%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

main section{
  margin-top: 50px;
}

p{
  word-wrap: break-word;
}

section h2{
  padding: 5px;
}

/* --- UNIQUE CLASS SELECTORS --- */

.blue-box{
  border: 1px solid;
  border-bottom: 15px solid;
  border-color: var(--color-dark-blue);
}

.blue-box-feet{
  background-color: var(--color-medium-blue);
}

.blue-description{
  color: var(--color-blue);
}

.blue-name{
  background-color: #1b8e9915;
  color: var(--color-blue);
}

.box{
  display: flex;
  flex-direction: column;
  height: 376px;
  justify-content: space-between;
  width: 300px;
}

.box h3{
  align-self: center;
  font-family: Arial;
  font-weight: lighter;
  margin: 5px;
  text-align: center;
  width: 95%;
}

.box p{
  font-family: Tahoma;
  font-size: var(--font-size-m);
  padding: 10px;
}

.box-feet{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 96px;
  justify-content: space-evenly;
  padding: 15px 15px 0 15px;
}

.box-feet button{
  align-self: flex-end;
  border-radius: 5%;
  cursor: pointer;
  padding: 5px;
  position: absolute;
}

.box-feet span{
  align-self: start;
  color: var(--color-white);
}

.container-box{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.drone-img{
  align-self: flex-end;
  background-color: var(--color-white);
  height: 77px;
  justify-self: flex-end;
  margin-top: -30px;
  position: absolute;
  width: 125px;
}

.global-container{
  height: 100%;
  width: var(--global-width);
}

.header-nav{
  display: flex;
  height: 45px;
  width: 100%;
}

.header-nav a{
  color: var(--color-white);
  font-family: Arial;
  font-size: var(--font-size-sm);
  margin: 15px;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

.header-nav a:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.4s ease-in-out;
}

.price{
  align-self: flex-start;
  font-family: Tahoma;
  font-size: var(--font-size-xxxl);
}

.product-info{
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-between;
  width: 100%;
}

.red-box{
  border: 1px solid;
  border-bottom: 15px solid;
  border-color: var(--color-dark-red);
}

.red-box-feet{
  background-color: var(--color-dark-red);
}

.red-description{
  color: var(--color-dark-red);
}

.red-name{
  background-color: #66000015;
  color: var(--color-dark-red);
}

.section-container{
  margin: 20px 0 20px 0;
  width: 100%;
}

.section-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-title{
  font-family: Arial;
  font-size: var(--font-size-xl);
  text-transform: uppercase;
}

.service-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.service-box img{
  width: 100%;
}

.service-box h3{
  background: none;
  font-family: Tahoma;
  font-size: var(--font-size-l);
  margin-top: 10px;
  padding-left: 10px;
  text-align: left;
  text-transform: uppercase;
}

.service-box p{
  font-family: Tahoma;
  font-size: var(--font-size-m);
}

/* --- UNIQUE ID SELECTORS --- */

#acessibility-h1{
  display: none;
  visibility: hidden;
}

#banner-header-container{
  background-image: url(../img/banner.fw.png);
  background-position: center;
  background-size: cover;
  height: 134px;
  width: 100%;
}

#footer-description{
  align-items: center;
  background-color: var(--color-dark-blue);
  display: flex;
  height: 96px;
  padding: 25px;
  width: 100%;
}

#footer-description p{
  align-self: center;
  color: var(--color-white);
  font-family: Tahoma;
  font-size: var(--font-size-xm);
  margin-left: 100px;
}

#footer-drones{
  align-items: center;
  display: flex;
  width: 100%;
}

#footer-drones img{
  margin-right: 200px;
}

#footer-feet{
  background-color: var(--color-dark-red);
  display: flex;
  height: 26px;
  justify-content: end;
  width: 100%;
}

#footer-feet span{
  align-self: center;
  color: var(--color-white);
  font-family: Tahoma;
  font-size: var(--font-size-xm);
  margin-right: 80px;
}

#footer-feet img{
  align-self: flex-end;
  position: absolute;
}

#header-logo{
  height: 146px;
  margin-left: 25px;
  margin-top: -120px;
  position: absolute;
  width: 194px;
}

#hr-main{
  background-color: var(--color-gray);
  height: 15px;
}

#hr-services{
  background-color: var(--color-dark-blue);
  width: 100%;
}

#hr-store{
  background-color: var(--color-dark-red);
  width: 100%;
}

#nav-bottom{
  align-items: center;
  background-color: var(--color-dark-red);
  justify-content: flex-start;
}

#nav-bottom a:hover{
  background-color: var(--color-white);
  color: var(--color-dark-red);
}

#nav-top{
  align-items: center;
  background-color: var(--color-medium-blue);
  justify-content: flex-end;
}

#nav-top a:hover{
  background-color: var(--color-light-blue);
}

#services-title{
  color: var(--color-dark-blue);
}

#virtual-store-title{
  color: var(--color-dark-red);
}
